.BKEvent .articles .article{
    
    
    padding:10px;
    margin-top:20px;
    border: 1px solid #3498DB;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.BKEvent .articles .article .list-left{
    text-align: center;
    
    padding:0;
}
.BKEvent .articles .article .list-left a{
    transition: transform 1s;
}
.BKEvent .articles .article .list-left a:hover{
    transform: scale(1.2);
}
.BKEvent .articles .article .list-left .timing{
    display:flex;
    justify-content: center;
}
.BKEvent .articles .article .list-left img{
    
    width: 90%;
}
.BKEvent .articles .article .list-center{
    
    border-right: 1px solid #f0f0f0;
}



.BKEvent .articles .article .list-right{
    
}
.BKEvent .articles .article .list-left #table{
    font-style: italic;
    color: #3498DB;
}
.all-Event{
    font-weight: 700;
    font-size: 2em;
    color: #3498DB;
    padding-bottom: 10px;
    border-bottom: 0.5px solid;
    text-transform: uppercase;
}

.paginations{
    text-align: center;
}
