.button5 {
  background-color: #ff5c00; /* Green */
  border: none;
  color: white;
  padding: 3px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
  font-family: 'Open Sans', sans-serif;
}


.button6 {
  background-color: white; 
  color: black; 
  border: 3px solid #ff5c00;
}

.button6:hover {
  background-color: #ff5c00;
  color: white;
}
.tieude{
  padding-bottom: 25px;
  padding-top: 20px;
}